<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header'); -%>
  <!-- The header section -->
  <body>
    <!-- Navigation-->
    <%- include('layouts/navbar'); -%>

    <!-- Page Header-->
    <header class="masthead" style="background-image: url('/img/web_dev.jpg')">
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="site-heading">
              <h1>The Result of 30 Days of MERN STACK</h1>
              <span class="subheading">Coding Challenge</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <br />
          <br />
          <!-- Post preview-->
          <div class="post-preview">
            <a href="#">
              <h2 class="row gx-4 gx-lg-5 justify-content-center">
                🤓 Hello...
              </h2>
              <br />
              <br />
              <h3 class="post-subtitle">
                Log in or sign up for a better experience
              </h3>
            </a>
            <p class="post-meta">Trust me, you'll love it</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer-->

    <script>
      const express = require("express");
      const app = express();
      app.use(bodyParser.json());
    </script>
    <!-- Bootstrap core JS-->
    <%- include('layouts/script'); -%>
  </body>
</html>
