<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header') -%>
  <body>
    <div class="page-heading">
      <!-- <h1>Log in</h1> -->
    </div>

    <header class="masthead" style="background-image: url('/img/login.png')">
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="post-heading">
              <h1>30 Days of Mern Stack</h1>
              <h2 class="subheading">
                coding challenge
              </h2>
              <span class="meta">
                Little effort 
                <a href="#!">and contribution</a>
                is very important.
              </span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <p class="col-md-10 col-lg-8 col-xl-7">
            <h1 class="row gx-4 gx-lg-5 justify-content-center">
                404 page not found</h1>
            <!-- Register to get access to the page -->
          </p>
          <div class="container px-5 my-5">
            <!-- Manually created form for the testing of the 
            POST AND GET request for the post and blog -->
            
          </div>

</body>
  
</html>
